{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="h2 text-center"><b>Create</b> <b style="color:#ffc107;">Blogs <i class="fa fa-plus-square"></i></b>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6 p-2 bg-light">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Blog Category:
            <select name="category" class="form-control" required>
                <option>--Select Category--</option>
                {% if category %}
                {% for x in category %}
                <option>{{x.cname}}</option>
                {% endfor %}
                {% endif %}
            </select>
            Topic of Blog:<input type="text" name="topic" required class="form-control"/>
            Blog Description:<textarea style="height:80px;" name="description" required class="form-control"></textarea>
            Attachment Document:<input type="file" accept="image/*" name="document" required class="form-control"/>
            Thumbnail:<input type="file" accept="image/*" name="thumbnail" required class="form-control"/>
            <input class="m-1" type="submit" style="background:#ffc107; min-width:25%;" value="Create Blog"/>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>

{% endblock %}