{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">
    <div class="h2 text-center"><b>Log</b> <b style="color:##0080ff;">In <i class="fa fa-sign-in"></i></b></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mb-2 p-2 bg-light">

        <form method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            Email Id<input type="email" name="email" required class="form-control" placeholder="Enter your email"/>
            Password<input type="password" name="passwd" required class="form-control" placeholder="Enter Password"/>
            Confirm Password<input type="password" name="passwd" required class="form-control" placeholder="Re-enter Password"/>

            <input class="mt-1" type="submit" value="Login" style="background:#0080ff; min-width:25%;"/>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>


{% endblock %}